@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$Main-font: "Montserrat", sans-serif;
$bg2: #420c14;
$bg: #F6F6F6;
$text2: #efefef;
$text: #420c14;

$primary: #732c2c;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

$width_sm: 760px;
